# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
bundler_stubs/
.settings/
config/secrets.yml
cacert.pem

_projects/snippet.txt

#sass
**/.sass-cache/*

#Jekyll
_site/
**/_site/*
.jekyll-metadata

#Third Party Javascript Libraries
/javascript/bootstrap*.js
/javascript/jquery*.js
/javascript/d3*.min.js
