<footer class="site-footer">
  <div class="wrapper">
    <a href="#" class="menu-icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231 231" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 231 231">
        <g>
          <rect width="181" x="50" y="164.5" height="33"/>
          <rect width="181" x="50" y="99.5" height="33"/>
          <rect width="181" x="50" y="32.5" height="33"/>
          <rect width="33" y="165.5" height="33"/>
          <rect width="33" y="99.5" height="33"/>
          <rect width="33" y="32.5" height="33"/>
        </g>
      </svg>
    </a>
    <div class="trigger">
      <div class="social">
        <a id="mail" href="mailto:{{ site.email }}" target="_blank">
          Mail
        </a>
      </div>
      <div  class="social">
        <a id="google" href="//plus.google.com/u/0/112230954356953449387?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;"
          target="_blank">
          Google
        </a>
      </div>
      <div class="social">
        <a id="linkedin" href="http://www.linkedin.com/in/jstevemartinez/" target="_blank">
          LinkedIn
        </a>
      </div>
      <div class="social">
        <a id="github" href="http://www.github.com/j-steve-martinez" target="_blank">
          Github
        </a>
      </div>
      <div class="social">
        <a id="twitter" href="http://twitter.com/j_steve_m" target="_blank">
          Twitter
        </a>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="/javascript/utilities.js"></script>