<header class="site-header">
  <div class="inner">   
    <h1>
      {% if page.pname %}
         {{ page.pname }}
      {% else %}
         {{ site.blog_name }}
      {% endif %}
    </h1>
    
    <h2>
      {% if page.username %}
        {{ page.username }}
      {% else %}
        {{ site.username }}
      {% endif %} 
    </h2>
    <h3>
      {% if page.description %}
        {{ page.description }}
      {% else %}
        {{ site.description }}
      {% endif %}
    </h3>
    <a href="https://github.com/j-steve-martinez" class="button"><small>View project on</small>GitHub</a>
  </div>
</header>
