#local-weather {
    .weather-name {
        padding: 1px;
        text-align: right;
        &.btn {
            text-align: center;
        }
    }
    
    .weather-value {
        padding-left: 5px;
    }
    .weather-wrapper {
        display: grid;
        grid-template-columns: max-content auto max-content auto;
        background-repeat: no-repeat;
        // background-position: -100px -150px;
        background-position: center center;
        background-size: 200%;
        @include media-query($on-palm) {
            background-position: center center;
            background-size: 200%;
        }    
    }
    .weather-image {
        background-repeat: no-repeat;
        background-position: -20px -10px;
        background-size: 100%;
        // color: currentColor;
        // background-color: beige;
        width: 100px;
        height: 25px;
        @include media-query($on-palm) {
            width: 100%;
            background-position: -2px -1px;
            background-size: 100%;
            border-radius: 0px;
        }
    }
}

// ***************** Markdown Editor *****************************
#markdown-editor {
    $red: #ff0000;
    $grey: #f2f2f2;
    $shadow: #888888;
    $blue: #80e5ff;
    code {
        color: $red;
        background-color: $grey;
    }
    #textarea {
        width: 460px;
        height: 325px;
        margin-top: 20px;
        margin-left: 2px;
        padding-left: 10px;
        padding-top: 5px;
        border: 2px solid $blue;
        border-radius: 5px;
        box-shadow: 5px 5px 10px $shadow;
    }
    #markup {
        margin-left: 25px;
    }
}

// ***************** Pomodoro Clock *****************************
#pomodoro-clock {
    table {
        border-collapse: separate;
        width: 300px;
        border-spacing: 20px 10px;
        text-align: center;
    }
    #time {
        text-align: center;
    }
    .panel {
        background-color: rgb(247, 205, 155);
    }
    .panel-success {
        background-color: #7fffd4;
    }
    .panel-danger {
        background-color: #ff7fb0;
    }
    #rest {
        background-color: #ff7fb0;
    }
    #work {
        background-color: #7fffd4;
    }
    .btn:hover {
        cursor: pointer;
    }
}

// ***************** Twitch Status *****************************
#twitch-status {
    img {
        width: 25px;
        margin-top: 25px;
    }
    .online div {
        background-color: rgb(227, 250, 220);
    }
    .offline div {
        background-color: rgb(248, 214, 214);
        ;
    }
    .selected {
        background-color: rgb(195, 236, 195)
    }
    .nav-tabs {
        width: 100px;
    }
}

// ***************** Random Quotes *****************************
#quote {
    margin-top: 10px;
}

// ***************** Calculator *****************************
#calculator {
    border-collapse: separate;
    border-spacing: 20px 10px;
    border: 3px;
    border-radius: 1em;
    border-bottom-style: outset;
    border-right-style: outset;
    float: left;
    background-color: #e6e6e6;
    #result {
        text-align: right;
        border: 1px;
        border-style: inset;
        background-color: white;
    }
    #clear {
        width: 100px;
    }
    .btn {
        width: 40px;
    }
    [id="0"] {
        width: 100px;
    }
}

// ***************** Recipe Box *****************************
#recipe-box {
    width: 50%;
    background-color: #9cfc9c;
    .container {
        padding: 10px;
    }
    .item-link {
        background-color: #a1e4fa;
        &:hover {
            cursor: pointer;
        }
    }
    .item-list {
        background-color: #fab9b9;
    }
    .recipe-list {
        background-color: #d7adff;
        padding-bottom: 1px;
    }
    #instructions {
        padding-left: 10px;
    }
    textarea {
        // width: 234px;
        width: 95%;
        height: 125px;
    }
    input {
        width: 90%
    }
}

// ***************** Game Of Life *****************************
#game-of-life {
    float: left;
    text-align: center;
    table,
    td {
        margin: 5px auto;
        border-collapse: collapse;
        border: 0.25px solid black;
    }
    .container {
        display: inline-block;
        border-style: solid;
        border-width: 2px;
        border-radius: 3%;
        border-color: #161616;
        padding: 5px;
        box-shadow: 3px 3px darken(#575656, 15%);
    }
    .counter {
        display: table;
        margin: 5px auto;
    }
    .dead {
        height: 15px;
        width: 15px;
    }
    .alive {
        height: 15px;
        width: 15px;
        background-color: green;
    }
}

// ***************** Dungeon Crawler *****************************
$color1: #06c6f7;
$color2: #51F90C;
$color3: #344209;
$color4: #ffefc0;
$color5: #00ffff;
$color6: #F00C05;
$color7: #A40CEC;
@mixin colors($color, $background) {
    color: $color;
    background-color: $background;
}

@mixin margin-auto {
    margin: 5px auto;
}

@mixin size {
    height: 10px;
    width: 10px;
}

@mixin container {
    padding-top: 5px;
    padding-bottom: 5px;
}

@mixin sizeH {
    @include size;
}

@mixin sizeV {
    @include size;
}

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
    &.focus,
    &:focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }
    &:hover {
        color: $color;
        background-color: lighten($background, 10%);
        border-color: darken($border, 12%);
    }
}

#dungeon-crawler {
    display: table;
    @include margin-auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
    border-radius: 3%;
    float: left;
    table,
    td {
        @include margin-auto;
        border-collapse: collapse;
        padding: 0px;
    }
    td:focus {
        background-color: $color1;
        outline: none;
    }
    button {
        @include button-variant($color4, $color3, $color4);
    }
    #button {
        padding-bottom: 5px;
    }
    .h-wall {
        @include sizeH;
        background-color: $color3;
    }
    .v-wall {
        @include sizeV;
        background-color: $color3;
    }
    .size {
        @include size;
    }
    .floor,
    .door {
        @include size;
        background-color: $color4;
    }
    .empty {
        @include size;
        background-color: $color3;
    }
    .monster {
        @include size;
        background-color: $color6;
    }
    .heal {
        @include size;
        background-color: $color2;
    }
    .weapon {
        @include size;
        background-color: $color5;
    }
    .portal {
        @include size;
        background-color: $color7;
    }
    .mask {
        @include size;
        background-color: black;
    }
    .stats {
        display: inline;
        padding-right: 8px;
    }
    .player-container {
        @include colors($color2, $color3);
        @include container;
        width: 550px;
    }
    .monster-container {
        @include colors($color4, $color3);
        @include container;
    }
    .message-container {
        @include container;
    }
    .key-container {
        @include container;
        background-color: #161616;
    }
    .key-heal {
        @include colors($color2, "");
    }
    .key-weapon {
        @include colors($color5, "");
    }
    .key-player {
        @include colors($color1, "");
    }
    .key-monster {
        @include colors($color6, "");
    }
    .key-portal {
        @include colors($color7, "");
    }
}

// ***************** D3 Bar Chart *****************************
.bar {
    fill: #828285;
}

.bar:hover {
    fill: rgb(246, 250, 15);
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 135px;
    height: 30px;
    padding: 2px;
    padding-left: 10px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none; // @include colors($color1, $color4);
}

// ***************** D3 Scatterplot Graph *****************************
#d3-scatterplot-graph {
    .tooltip {
        position: fixed;
        text-align: left;
        width: 135px;
        height: 30px;
        padding: 2px;
        padding-left: 10px;
        font: 12px sans-serif;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
}

// ***************** D3 Heat Map *****************************
#d3-heat-map {

    $color1: rgba(35, 31, 32, 1);
    $color2: rgba(242, 240, 241, 1);
    $color3: rgba(252, 250, 250, 1);
    $color4: rgba(200, 211, 213, 1);
    $color5: rgba(164, 184, 196, 1);

    $nutral: rgba(251, 210, 129, 1);

    $cold1: rgba(227, 230, 109, 1);
    $cold2: rgba(181, 222, 82, 1);
    $cold3: rgba(25, 223, 140, 1);
    $cold4: rgba(91, 133, 214, 1);
    $cold5: rgba(111, 32, 212, 1);

    $heat1: rgba(216, 164, 127, 1);
    $heat2: rgba(239, 148, 83, 1);
    $heat3: rgba(237, 114, 75, 1);
    $heat4: rgba(236, 89, 17, 1);
    $heat5: rgba(226, 47, 29, 1); 

    .tooltip {
        position: absolute;
        text-align: center;
        width: 25px;
        height: 30px;
        padding: 2px;
        font: 12px sans-serif;
        border: 2px solid $color1;
        border-radius: 5px;
        pointer-events: none;
        background-color: $nutral;

    }
    .color0 {
        fill: $cold5;
    }
    
    .color1 {
        fill: $cold4;
    }
    
    .color2 {
        fill: $cold3;
    }
    
    .color3 {
        fill: $cold2;
    }
    
    .color4 {
        fill: $cold1;
    }
    
    .color5 {
        fill: $nutral;
    }
    
    .color6 {
        fill: $heat1;
    }
    
    .color7 {
        fill: $heat2;
    }
    
    .color8 {
        fill: $heat3;
    }
    
    .color9 {
        fill: $heat4;
    }
    
    .color10 {
        fill: $heat5;
    }
    
    .key text {
        // fill: black;
        padding-bottom: 1px;
    }
    .title3 {
        @include margin-auto;
        width: 600px;
    }
    
    .heading,
    .title1,
    .title2,
    .title3 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .cell:hover {
        fill: $color3;
    }
}
/*                d3 contiguity                     */
#d3-contiguity {
    .links line {
      stroke: black;
      stroke-opacity: 0.6;
    }
  }