body {
  margin-top: 50px;
  margin-bottom: 5px;
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  font-family: Artifika;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/**
 * Quarter Circles
 */

.main {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.quarter {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0 0 15px black;
}

.quarter-tl {
  top: 0;
  left: 0;
  background-color: green;
  border-radius: 100% 0 0 0;
  border-color: black;
}

.quarter-tr {
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 0 100% 0 0;
}

.quarter-bl {
  bottom: 0;
  left: 0;
  background-color: yellow;
  border-radius: 0 0 0 100%;
}

.quarter-br {
  bottom: 0;
  right: 0;
  background-color: blue;
  border-radius: 0 0 100% 0;
}

.cutout {
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  pointer-events: auto;
  box-shadow: 0 0 0 15px black;
}

.small-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid black;
}

.small-circle:active {
  position: relative;
  top: 2px;
}

.uniform {
  width: 65px;
}

.label {
  color: red;
  background-color: black;
  border-radius: 5px;
  /*width: 55px;*/
  height: 25px;
  /*text-align: left;*/
}

#heading {
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 5px
}

#reset-c {
  background-color: red;
  color: black;
  margin-left: 13px;
}

#strict-c {
  background-color: yellow;
  color: black;
  margin-left: 13px;
}

#start-c {
  background-color: green;
  margin-left: 17px;
}

#power {
  background-color: #33ccff;
  box-shadow: 0 0 0 2px black;
  border-right: 25px solid black;
  /*margin-left: 13px;*/
  width: 25px;
  height: 25px;
}

#power-label {
  /*margin-left: 10px;*/
}

#counter {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background-color: black;
  color: red;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
#credits {
  margin-bottom: 25px;
}