.colors-test-super-no-match-anything-check {
  color: #56d856;
  color: #008000;
  color: lightgreen;
  color: green;
  color: maroon;
  color: #ff8080;
  color: #ff0000;
  color: #ffffcc;
  color: #ffff00;
  color: goldenrod;
  color: gold;
  color: #8080ff;
  color: #0000ff;
  color: red;
  color: darkred;
}


