.list-group-item span {
    color: lightseagreen;
}

.list-group-item p {
    color: black;
    margin-top: 15px;
    margin-bottom: 2px;
}
$color: rgb(210, 224, 204);
$bg: rgb(58, 224, 20);
// .random {
//     width: 20%;
//     color: darken($color, 50);

//     // font-size: 30px;
//     /* top, right, bottom, left */
//     // padding: 10px 20px 10px 20px;
//     border: solid $bg 1px;
//     // border-radius: 12px;
//     /* underline, overline, line-through or blink */
//     text-decoration: none;
//     /* linear-gradient */
//     background: $bg;

// }