<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
 
    <header class="site-header">
      <div class="inner">
        <h1>{{site.name}}</h1>
        <h2 class="steve">{{site.tag}}</h2>
        <a href="https://github.com/j-steve-martinez" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>
    
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
            
             {{ content }}

        </section>
        <aside id="sidebar">
          <p>Theme inspired by San Francisco Giants epic 18 inning win over the Washington D.C. Nationals on October 4, 2014.</p>
          Giants     2<br />
          Nationals  1
        </aside>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
